/* 
.drawerIcons{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:5px ;
    color:#040136;

}

.MuiListItem-gutters{
    padding-left: 0px !important;
}


.sideMenuItems:hover .drawerIcons{
    color: white ;
    
}
.sideMenuItems:hover{
    background-color: #040136;
    color:white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

/* //set the margin of sidemenu's list item */
/* class of side-menu's lis items */
/* .MuiListItem-root {
    width: 95% !important;
    margin-left: 2.5%;
    border-radius: 5px;
} */


/* scrollbar customization */
/* ::-webkit-scrollbar {
    width: 4px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1;
  } */
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #f5f5f5;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #e0dede;}  */